<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间namespace对应接口名称-->

<mapper namespace="com.memberSystem.mapper.memberLevelCredentialMapper">
    <!--        查询全部数据-->
    <resultMap  id="memberLevelCredentialMap" type="com.memberSystem.entity.memberLevelCredential">
        <id property="credentialId" column="credential_id"></id>
         <result property="avatar" column="avatar"></result>
        <result property="credentialsName" column="credentials_name"></result>
        <result property="credentialsStatement" column="credentials_statement"></result>
        <result property="isShow" column="is_show"></result>
        <result property="isVip" column="is_vip"></result>
        <result property="createId" column="create_id"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateId" column="update_id"></result>
        <result property="delFlag" column="del_flag"></result>
    </resultMap>
    <select id="findAll" resultMap="memberLevelCredentialMap" >
        SELECT * FROM member_system.member_level_credentials limit #{pageNum},#{pageSize}
    </select>
    <!--        关键词查询-->
    <select id="findByKey" resultMap="memberLevelCredentialMap" >
        SELECT * FROM member_system.member_level_credentials
        <where>
            credential_id  like '%${keyWord}%' or
            avatar like '%${keyWord}%' or
            credentials_name like '%${keyWord}%' or
            credentials_statement like '%${keyWord}%' or
            create_id like '%${keyWord}%' or
            update_id like '%${keyWord}%'
        </where>
        limit #{pageNum},#{pageSize}
    </select>
    <!--        查询单个用户-->
    <select id="memberLevelCredentialGet" resultMap="memberLevelCredentialMap">
        SELECT * FROM member_system.member_level_credentials where credential_id=#{credentialId}
    </select>
    <!--        数据总数-->
    <select id="dataCounts" resultType="java.lang.Integer">
        select count(*) FROM member_system.member_level_credentials
        <where>
            credential_id  like '%${keyWord}%' or
            avatar like '%${keyWord}%' or
            credentials_name like '%${keyWord}%' or
            credentials_statement like '%${keyWord}%' or
            create_id like '%${keyWord}%' or
            update_id like '%${keyWord}%'
        </where>
    </select>
    <!--        更新-->
    <update id="update"  parameterType="integer">
        UPDATE member_system.member_level_credentials
        <set>
            <if test="#{levelName}!=null">
                credentials_name =#{credentialsName},
            </if>
        </set>
        <where>credential_id = #{credentialId}</where>
    </update>
</mapper>